:root {
  --link-color: #2196f3;
  --title-color: #212121;
  --text-color: #757575;
  --main-color: #ffffff;
}

/* 
===============
body
===============
*/

body {
  color: var(--title-color);
  font-family: "Roboto", sans-serif;
  background-color: var(--main-color);
}

*,
::after,
::before {
  box-sizing: border-box;
}

ul,
li,
h1,
h2,
h3,
p,
img {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

/*
=============
modal
=============
*/
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  background-color: var(--main-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal__button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  background-color: var(--main-color);
  border-radius: 50%;
  color: #000000;
  border: 1px solid rgba(0, 0, 0, 0.1);
  appearance: none;
  cursor: pointer;
  margin-top: 8px;
  margin-right: 8px;
  transition-property: color, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__close {
  display: flex;
  justify-content: end;
}

.modal__button:hover .button-close__icon,
.modal__button:focus .button-close__icon {
  color: var(--link-color);
}

.modal__button:hover,
.modal__button:focus {
  border-color: var(--link-color);
}

.button-close__icon {
  fill: currentColor;
}

.modal__name,
.modal__tel,
.modal__mail {
  position: relative;
  outline: none;
}

.modal__input {
  display: block;
  padding-left: 42px;
  margin-bottom: 10px;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
}
.modal__icon {
  position: absolute;
  width: 18px;
  height: 18px;
  fill: #212121;
  top: 50%;
  left: 12px;
  display: inline-block;
  align-items: center;
  cursor: pointer;
}

.modal__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.modal__name,
.modal__tel,
.modal__mail,
.modal__text {
  font-size: 12px;
  line-height: 1.166;
  letter-spacing: 0.01em;
  color: #757575;
}

.modal__input {
  transition-property: fill, border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__label {
  display: flex;
  flex-direction: column;
  margin-bottom: 4px;
}

::placeholder {
  font-size: 12px;
  line-height: 1.166;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal__textarea {
  padding: 12px 16px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  resize: none;
  outline: none;
}

.modal__input:hover,
.modal__input:focus {
  border: 1px solid #2196f3;
}

.modal__input:hover + .modal__icon,
.modal__input:focus + .modal__icon {
  fill: var(--link-color);
}

.modal__textarea {
  margin-bottom: 10px;
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__textarea:hover,
.modal__textarea:focus {
  border: 1px solid #2196f3;
}

.modal__mail:focus-within {
  color: var(--link-color);
}

.modal__mail {
  transition-property: fill, border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.modal-checkbox__span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 15px;
  border-radius: 2px;
  outline: 2px solid #212121;
  outline-offset: -2px;
}

.modal-checkbox__icon {
  display: flex;
  justify-content: center;
}

.modal-checkbox__input:checked + .modal-checkbox__span {
  outline-color: var(--link-color);
  background-color: var(--link-color);
}

.checkbox-icon {
  fill: transparent;
}

.modal-checkbox__input:checked + .modal-checkbox__span > .modal-checkbox__icon {
  fill: var(--main-color);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.modal__form {
  width: 448px;
  height: 342px;
  margin-left: 40px;
  margin-top: 12px;
}

.modal-checkbox__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
  padding-left: 10px;
}

.modal-checkbox__agreement {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration-line: underline;
  color: #2196f3;
}

.modal__submit {
  background: var(--link-color);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  font-family: inherit;
  letter-spacing: 0.06em;
  color: var(--main-color);
  border: 0;
  appearance: none;
  cursor: pointer;
  padding: 10px 55px;

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  margin-left: 151px;
  margin-top: 30px;
}

.modal__submit:hover,
.modal__submit:focus {
  background-color: #188ce8;
}

/*==============
header
=================*/

header {
  border-bottom: 1px solid #ececec;
}

header .container {
  display: flex;
  align-items: center;
}

/*=============
logo
===============*/
.logo {
  text-decoration: none;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  align-items: center;
  margin-right: 93px;
}

.logo__one {
  color: var(--link-color);
}
.logo__two {
  color: #000000;
}

/*============
navigation
==========*/

.site-nav {
  margin-right: 285px;
}

.site-nav__item .current {
  color: var(--link-color);
  position: relative;
}

.site-nav__item .current::after {
  content: "";
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background: var(--link-color);
}

.site-nav__list,
.contact-inf {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  display: flex;
}

.site-nav__item {
  padding-right: 50px;
}

.site-nav__item:last-child {
  padding-right: 0;
}

.contact-inf__link,
.site-nav__link {
  padding-top: 32px;
  padding-bottom: 32px;
}

.contact-inf a {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.logo {
  padding-top: 24px;
  padding-bottom: 25px;
}

.contact-inf__list {
  padding-right: 50px;
}

.contact-inf__list:last-child {
  padding-right: 0;
}

.site-nav__link:hover,
.site-nav__link:focus {
  color: var(--link-color);
}

.site-nav__link {
  text-decoration: none;
  color: var(--title-color);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-inf__link {
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14px;
  letter-spacing: 0.02em;
  color: var(--text-color);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-inf__link:hover,
.contact-inf__link:focus {
  color: var(--link-color);
}

.contact-inf__icon {
  margin-right: 10px;
  fill: currentColor;
}

/*
===============
fist section
===============
*/

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.hero-section {
  background-color: #2f303a;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/headerimg.jpg");
  background-size: cover;
  background-position: center;
  max-width: 1600px;
  margin-right: auto;
  margin-left: auto;
}

.hero-section__title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--main-color);
  padding-bottom: 30px;
}

.hero-section__button {
  background: var(--link-color);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  font-family: inherit;
  letter-spacing: 0.06em;
  color: var(--main-color);
  border: 0;
  appearance: none;
  cursor: pointer;
  padding: 10px 32px;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-section__button:hover,
.hero-section__button:focus {
  background-color: #188ce8;
}

/*
===============
second section
===============
*/

.specials-section__item {
  width: 270px;
  margin-right: 30px;
}

.specials-section {
  padding-bottom: 47px;
}

.specials-section__item:last-child {
  margin-right: 0;
}

.specials-section__title {
  display: none;
}

.specials-section__list {
  display: flex;
}

.specials-section__subtitle {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-color);
  padding-bottom: 10px;
}

.specials-section__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

.specials-section__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f4fa;
  height: 120px;
  border-radius: 4px;
  margin-bottom: 30px;
}

/*
===============
third section
===============
*/

.services-section__title {
  margin-bottom: 50px;
}

.services-section {
  padding-top: 47px;
}

.services-section__title,
.team-section__title,
.customers-section__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.167;
  letter-spacing: 0.03em;
  color: var(--title-color);
  text-align: center;
}

.services-section__subtitle {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-color);
  position: absolute;
  align-items: center;
  display: flex;
  justify-content: center;
  height: 70px;
  width: 370px;
  left: 0;
  bottom: 0;
  background: rgba(47, 48, 58, 0.8);
}

.services-section__item {
  position: relative;
}

.services-section__list {
  display: flex;
}

.services-section__item {
  padding-right: 30px;
}

.services-section__item:last-child {
  padding-right: 0;
}

/*
===============
fourth section
===============
*/
.team-section {
  background-color: #f5f4fa;
}
.team-section__list {
  display: flex;
}

.team-section__item:last-child {
  padding-right: 0;
}

.team-section__title {
  margin-bottom: 50px;
}

.team-section__item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  border: 1px solid initial;
  background-color: var(--main-color);
  margin-right: 30px;
}

.team-section__subtitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.187;
  letter-spacing: 0.03em;
  color: var(--title-color);
  text-align: center;
  margin: 14px;
}

.team-section__inf {
  padding-bottom: 16px;
  padding-top: 12px;
}

.team-section__text {
  font-size: 16px;
  line-height: 1.187;
  letter-spacing: 0.03em;
  color: var(--text-color);
  text-align: center;
}

.socials {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding-bottom: 30px;
}

.socials__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  background-color: var(--main-color);
  border-radius: 50%;
  color: #afb1b8;
  transition-property: color, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.socials__icon {
  fill: currentColor;
}

.socials__link:hover,
.socials__link:focus {
  background-color: var(--link-color);
}

.socials__link:hover svg,
.socials__link:focus svg {
  color: #ffffff;
}

/*
===============
fifth section
===============
*/

.customers-section__title {
  margin-bottom: 50px;
}
.customers-section__list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.customers-section__link {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  width: 170px;
  height: 92px;
  color: #afb1b8;
}

.customers-section__item {
  margin-right: 30px;
}

.customers-section__item:last-child {
  margin-right: 0;
}

.customers-section__icon {
  fill: currentColor;
  transition-property: color, border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-section__link:hover,
.customers-section__link:focus {
  border: 1px solid var(--link-color);
}

.customers-section__link:hover .customers-section__icon,
.customers-section__link:focus .customers-section__icon {
  color: var(--link-color);
}

/*
==========
footer
==========
*/

footer {
  padding-top: 60px;
  padding-bottom: 60px;
  display: flex;
  background-color: #2f303a;
}

.info-block {
  margin-right: 70px;
}

.info-block__address {
  margin-top: 20px;
}

.info-block__item {
  margin-bottom: 9px;
}

.info-block__item:last-child {
  margin-bottom: 0;
}

.info-block__logo {
  text-decoration: none;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.logo-footer__one {
  color: var(--link-color);
}
.logo-footer__two {
  color: var(--main-color);
}

.info-block__link {
  text-decoration: none;
  font-size: 14px;
  line-height: 1.71px;
  letter-spacing: 0.03em;
  color: var(--main-color);
  font-style: normal;
  opacity: 0.6;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.info-block__street {
  text-decoration: none;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-color);
  font-style: normal;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.info-block__link:hover,
.info-block__street:hover,
.info-block__link:focus,
.info-block__street:focus {
  color: var(--link-color);
}

.socials-footer__subtitle {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-color);
  margin-bottom: 20px;
}

.footer_container {
  display: flex;
  align-items: baseline;
}

.socials-footer__item {
  display: inline-block;
  margin-right: 10px;
}

.socials-footer__item:last-child {
  margin-right: 0;
}

.socials-footer {
  margin-right: 93px;
}

.socials-footer__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  color: var(--main-color);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.socials-footer__icon {
  fill: currentColor;
}

.socials-footer__link:hover,
.socials-footer__link:focus {
  background-color: var(--link-color);
}

.isocials-footer__link:hover .socials-footer__icon,
.socials-footer__link:focus .socials-footer__icon {
  color: var(--main-color);
}

.subscription__subtitle {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

.subscription__button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  width: 200px;
  height: 50px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0;
  appearance: none;
  cursor: pointer;
}

.subscription__input {
  width: 358px;
  height: 50px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  outline: none;
  padding-left: 10px;
  color: var(--main-color);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.subscription__item {
  display: inline-block;
}

/*
============
PORTFOLIO
============
*/

.projects__title {
  display: none;
}

.project__list-buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.project__item-buttons {
  margin-right: 8px;
}
.project__item-buttons:last-child {
  margin-right: 0;
}

.projects__cards {
  flex-wrap: wrap;
  display: flex;
}

.projects__textbox {
  padding-top: 20px;
  padding-left: 24px;
  padding-bottom: 20px;
}

.projects__textbox {
  background: #ffffff;
  box-sizing: border-box;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}

.projects__item {
  margin-right: 30px;
  margin-bottom: 30px;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.projects__item:hover,
.projects__item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.projects__item:nth-child(3n) {
  margin-right: 0;
}

.projects__item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.projects__overlay-text {
  background-color: rgba(33, 150, 243, 0.9);
}

.projects__overlay {
  position: relative;
  width: 370px;
  height: 294px;
  transition: transform 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  overflow: hidden;
}

.projects__overlay:hover .projects__overlay-text {
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(0);
  opacity: 1;
}

.projects__overlay-text {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  padding-left: 24px;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--main-color);
  transition: transform 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transform: translatey(100%);
}

.project__button {
  background: #f5f4fa;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: var(--title-color);
  border: 0;
  font-family: inherit;
  padding: 6px 22px;
  text-align: center;
  appearance: none;
  cursor: pointer;
  transition-property: color, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.project__button:hover,
.project__button:focus {
  background-color: var(--link-color);
  color: var(--main-color);
}

.projects__name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-color);
}

.projects__text {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--text-color);
}
